<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tree.moe.epet.mapper.ItemMapper">
	<resultMap id="ItemMap" type="tree.moe.epet.entity.Item">
		<id column="id" property="id"></id>
		<id column="shop_id" property="shop_id"></id>
		<id column="name" property="name"></id>
		<id column="subtitle" property="subtitle"></id>
		<id column="cat_id" property="cat_id"></id>
		<id column="freight" property="freight"></id>
		<id column="sales" property="sales"></id>
		<id column="cover_img" property="cover_img"></id>
		<association property="shop" select="tree.moe.epet.mapper.ShopMapper.getShop" column="shop_id"></association>
	</resultMap>
	<select id="getItem" resultMap="ItemMap">
		select * from item where id = #{id};
	</select>
	<select id="getAllItems" resultMap="ItemMap">
		select * from item 
	</select>
	<select id="searchItem" resultMap="ItemMap">
		SELECT * FROM item where 1 = 1 
		<if test="keywords!=''">
		AND (name like '%${keywords}%' OR subtitle like '%${keywords}%')
		</if>
		<if test="cat_id !=0">
		AND cat_id = #{cat_id} 
		</if>
		<if test="orderkey != ''">
			order by ${orderkey} ${sequence} 
		</if>
		
		<if test="orderkey == ''">
			order by `id` 
		</if>
		limit #{left},#{right}
	</select>
	<select id="getItemAdminList" resultMap="ItemAdmin">
		SELECT item.id AS item_id, item.shop_id AS shop_id, item.name, item.flag, item.subtitle, item.cat_id, item.freight, item.sales, item.cover_img, item.price, shop.name AS shop_name
			FROM item LEFT JOIN shop ON item.shop_id = shop.id
				WHERE 1 = 1
			<if test="keyword != null">
				AND (item.name LIKE '%${keyword}%' OR item.subtitle like '%${keyword}%')
			</if>
			<if test ="catId != null">
				AND item.cat_id = #{catId}
			</if>
			<if test="shopId != null">
				AND item.shop_id = #{shopId}
			</if>
			<if test="limit != null">
				LIMIT #{limit}
			</if>
			<if test="offset != null">
				OFFSET #{offset}
			</if>
	</select>
	
	<!-- Natuki Added Below -->
	<!-- Natuki Added Below -->
	<!-- Natuki Added Below -->
	
	<select id="getItemAdminById" resultMap="ItemAdmin">
		SELECT item.id AS item_id, item.shop_id AS shop_id, item.name, item.flag, item.subtitle, item.cat_id, item.freight, item.sales, item.cover_img, item.price, shop.name AS shop_name
			FROM item LEFT JOIN shop ON item.shop_id = shop.id
				WHERE item.id = #{id}
	</select>
	
	<resultMap id="ItemAdmin" type="tree.moe.epet.entity.ItemAdmin">
		<id column="item_id" property="id"></id>
		<result column="shop_id" property="shopId"></result>
		<result column="cat_id" property="catId"></result>
		<result column="cover_img" property="coverImg"></result>
		<result column="shop_name" property="shopName"></result>
		<association property="skuNum" select="tree.moe.epet.mapper.ItemSkuMapper.getSkuNumByItemId" column="item_id"></association>
	</resultMap>
	
	<update id="updateItem">
		UPDATE item SET
			name = #{name},
			flag = #{flag},
			subtitle = #{subtitle},
			cat_id = #{catId},
			freight = #{freight},
			cover_img = #{coverImg},
			shop_id = #{shopId}
			price = #{price}
		WHERE
			id = #{id}
	</update>
	
	<delete id="deleteItem">
		DELETE FROM item WHERE id = #{id}
	</delete>
	
	<update id="updateItemSales">
		UPDATE item SET sales = #{sales} WHERE id = #{id}
	</update>
	
	<update id="updateItemPrice">
		UPDATE item SET price = #{price} WHERE id = #{id}
	</update>
	
	<insert id="createItem" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO item(shop_id, name, flag, subtitle, cat_id, freight, cover_img, price, sales)
			VALUES(#{shopId}, #{name},#{flag}, #{subtitle}, #{catId}, #{freight}, #{coverImg}, #{price}, #{sales})
	</insert>
</mapper>